workflows/daily-lead-report.json
{
  "nodes": [
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w3iksuje",
        "projectId": "pppc865egq3z6ra",
        "table": "mr16dfvuamk9sv6",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        688,
        320
      ],
      "id": "91cf99e4-8d30-4768-8162-617aa71b2223",
      "name": "GET UNSUBSCRIBE",
      "executeOnce": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "JbIOVqACegEVJh4J",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w3iksuje",
        "projectId": "pppc865egq3z6ra",
        "table": "mgx7rb82q2mgxe8",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        688,
        128
      ],
      "id": "81dedcfd-ac84-44b3-8253-cd772a94ff2a",
      "name": "Get LEAD GEN SHEET",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "JbIOVqACegEVJh4J",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "0e9b120e-c7eb-49ec-895f-688ffe5f3aa0",
      "name": "TRIGGER"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        224
      ],
      "id": "883ae033-f775-41f0-af6b-402da6a99a2c",
      "name": "MERGE TWO SHEETS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        224
      ],
      "id": "e802d4fd-2a3a-408b-aceb-426a5c46c290",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================================\n// GENERATE LEAD REPORT (DAILY)\n// Creates a structured JSON report for Slack summary message\n// Compatible with any NocoDB-based lead sheet\n// ==========================================================\n\n(() => {\n  const leads = $items('LEADS') || [];\n  const unsubscribes = $items('UNSUBSCRIBES') || [];\n\n  const totalLeads = leads.length;\n  const totalUnsubscribed = unsubscribes.length;\n\n  // --- Status breakdown ---\n  const statusMap = {};\n  const sourceMap = {};\n  const interestMap = {\n    hotLeads: 0,\n    interested: 0,\n    notInterested: 0,\n  };\n\n  leads.forEach(item => {\n    const data = item.json;\n\n    // Normalize status, interest, source\n    const status = (data.status || data.STATUS || '').toLowerCase();\n    const source = (data.source || data.SOURCE || 'Unknown').trim();\n    const interest = (data.interest || data.INTEREST || '').toLowerCase();\n\n    // Count status\n    if (status) statusMap[status] = (statusMap[status] || 0) + 1;\n\n    // Count source\n    sourceMap[source] = (sourceMap[source] || 0) + 1;\n\n    // Count interest\n    if (interest.includes('fire')) interestMap.fireLeads++;\n    else if (interest.includes('hot')) interestMap.hotLeads++;\n    else if (interest.includes('interested')) interestMap.interested++;\n    else if (interest.includes('not')) interestMap.notInterested++;\n  });\n\n  // --- Email health (mock ratios) ---\n  const verified = totalLeads - Math.floor(totalLeads * 0.05); // assume 5% unverified\n  const reachableRatio = ((verified / totalLeads) * 100).toFixed(1);\n  const unreachableRatio = (100 - reachableRatio).toFixed(1);\n\n  // --- New leads today (mock if no time field) ---\n  const newLeads = leads.slice(-3).map(l => l.json.email || l.json.EMAIL || 'Unknown');\n\n  // --- Top lists ---\n  const hotList = interestMap.hotLeads ? `${interestMap.hotLeads} Hot Leads` : 'None yet';\n  const unsubTopList = unsubscribes.slice(-3).map(u => u.json.email || u.json.EMAIL || 'Unknown').join('\\n• ') || 'None today';\n\n  // --- Report date ---\n  const today = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });\n\n  return [\n    {\n      json: {\n        today,\n        totalLeads,\n        totalUnsubscribed,\n        status: Object.keys(statusMap).join(', ') || 'No status data',\n        retarget1: statusMap['recontacted'] || 0,\n        retarget2: statusMap['follow-up'] || 0,\n        hotLeads: interestMap.hotLeads,\n        interested: interestMap.interested,\n        notInterested: interestMap.notInterested,\n        contactsWithVerification: verified,\n        reachableRatio,\n        unreachableRatio,\n        unsubToday: unsubscribes.length ? unsubscribes.length : 0,\n        sourceCount: sourceMap,\n        topList: newLeads.length ? `• ${newLeads.join('\\n• ')}` : 'No new leads today.',\n        hotList,\n        unsubTopList,\n      },\n    },\n  ];\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        224
      ],
      "id": "e9f5f4b4-fb0a-4cda-bde4-0f21f22b30a1",
      "name": "GENERATE LEAD REPORT (DAILY)"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09MUR1FH6V",
          "mode": "list",
          "cachedResultName": "daily-report"
        },
        "text": "=📊 *Daily Lead Report* – {{ $json[\"today\"] }}\n\n📦 *Overview*\n• Total Leads: *{{ $json[\"totalLeads\"] }}*\n• Contacted: *{{ $json[\"status\"] }}*\n• Retarget 1 Sent: *{{ $json[\"retarget1\"] }}*\n• Retarget 2 Sent: *{{ $json[\"retarget2\"] }}*\n\n💬 *Engagement Summary*\n• Hot Leads: *{{ $json[\"hotLeads\"] }}*\n• Interested: *{{ $json[\"interested\"] }}*\n• Not Interested: *{{ $json[\"notInterested\"] }}*\n\n📧 *Email Health*\n• Verified Emails: *{{ $json[\"contactsWithVerification\"] }}*\n• Reachable Ratio: *{{ $json[\"reachableRatio\"] }}%*\n• Unreachable Ratio: *{{ $json[\"unreachableRatio\"] }}%*\n\n🚫 *Unsubscribes*\n• Total: *{{ $json[\"totalUnsubscribed\"] }}*\n• Today: *{{ $json[\"unsubToday\"] }}*\n\n🗂 *By Source:*\n{{ Object.entries($json[\"sourceCount\"] || {}).map(([k,v]) => `• ${k}: ${v}`).join(\"\\n\") || \"No source data available.\" }}\n\n🆕 *New Leads Today:*\n{{ $json[\"topList\"] || \"No new leads today.\" }}\n\n🔥 *Top Fire Leads:*\n{{ $json[\"fireList\"] || \"None yet.\" }}\n\n💎 *Top Hot Leads:*\n{{ $json[\"hotList\"] || \"None yet.\" }}\n\n🧹 *Recent Unsubscribes:*\n{{ $json[\"unsubTopList\"] || \"None today.\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1360,
        224
      ],
      "id": "5b3da912-0304-4441-9d20-def539684674",
      "name": "SEND SLACK MESSAGE",
      "webhookId": "94a87921-dd0c-400d-90d2-403f802319d3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wvrATFvgXQ1Zi5F2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 1: **GET DATA** \n\n\n-->Gets DATA from all sheets you work with, in this case, 2.",
        "height": 480,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        0
      ],
      "typeVersion": 1,
      "id": "35081cef-bd43-4f62-823e-c59588013616",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step 2:  **GENERATE LEAD REPORT (DAILY)** \n\n\n--> Calculates engagement, conversions, deliverability metrics,etc and sends report to slack (Code included). ",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        0
      ],
      "typeVersion": 1,
      "id": "6b32a607-fd43-4812-8ce7-7adaf2494782",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## DAILY LEAD GENERATION REPORT\n\n\n## Why?\nManually checking spreadsheets for performance updates wastes time and breaks focus.  \n\nThis automation ensures your lead-generation insights come to you; not the other way around.  \n\nBy sending a clear, structured daily report straight to Slack (or any other tool you want), it helps you stay proactive, make faster decisions, and maintain full visibility across campaigns without ever opening a sheet.  \n\n\n\nCreator: Victordidit",
        "height": 480,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7b0a6871-b26a-458d-a056-fb66f318c110",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "GET UNSUBSCRIBE": {
      "main": [
        [
          {
            "node": "MERGE TWO SHEETS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get LEAD GEN SHEET": {
      "main": [
        [
          {
            "node": "MERGE TWO SHEETS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER": {
      "main": [
        [
          {
            "node": "GET UNSUBSCRIBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get LEAD GEN SHEET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE TWO SHEETS": {
      "main": [
        [
          {
            "node": "GENERATE LEAD REPORT (DAILY)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERATE LEAD REPORT (DAILY)": {
      "main": [
        [
          {
            "node": "SEND SLACK MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND SLACK MESSAGE": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d1d94514776d160baf9a2a9bd715a3a1f1dda4d17836a256b22c074dedb9851"
  }
}
