workflows/job-application-recruitment-pipeline.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d3a08d5b-4d24-41b6-9963-9f4ef9ba09af",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo",
          "mode": "list",
          "cachedResultName": "Job Application & Recruitment Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "eecb1cb7-9a11-4ad0-adb8-b8ec0f2c8aa9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wmrix8zXDKrYWKhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst results = [];\n\nfor (const item of items) {\n  const app = item.json;\n  const experience = app['Experience (Years)'];\n  const skills = app['Skills'].split(',').map(s => s.trim());\n\n  // Score based on experience\n  let experienceScore = 0;\n  if (experience >= 5) experienceScore = 40;\n  else if (experience >= 3) experienceScore = 30;\n  else if (experience >= 1) experienceScore = 20;\n  else experienceScore = 10;\n\n  // Score based on skills\n  const keySkills = ['n8n', 'JavaScript', 'Python', 'APIs', 'AI', 'Zapier'];\n  const matchedSkills = skills.filter(s => keySkills.includes(s));\n  const skillScore = Math.min(matchedSkills.length * 15, 60);\n\n  const totalScore = experienceScore + skillScore;\n\n  let recommendation;\n  if (totalScore >= 80) recommendation = 'Strong Hire';\n  else if (totalScore >= 60) recommendation = 'Hire';\n  else if (totalScore >= 40) recommendation = 'Maybe';\n  else recommendation = 'Reject';\n\n  results.push({\n    json: {\n      applicationId: app['Application ID'],\n      candidateName: app['Candidate Name'].trim(),\n      email: app['Email'],\n      position: app['Position'],\n      experience,\n      skills: app['Skills'],\n      matchedSkills: matchedSkills.join(', '),\n      totalScore,\n      recommendation,\n      rowNumber: app['row_number'],\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "8a9669ab-5944-451c-96c8-a3325f72965d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a professional HR recruitment assistant.\n\nEvaluate this job application and write two emails:\n1. A confirmation email to the candidate\n2. A notification email to the hiring manager\n\nCandidate Details:\n- Name: {{ $json.candidateName }}\n- Position: {{ $json.position }}\n- Experience: {{ $json.experience }} years\n- Skills: {{ $json.skills }}\n- Matched Skills: {{ $json.matchedSkills }}\n- Score: {{ $json.totalScore }}/100\n- Recommendation: {{ $json.recommendation }}\n\nRespond in this exact format:\nCandidateSubject: [subject for candidate]\nCandidateEmail: [confirmation email to candidate]\nManagerSubject: [subject for hiring manager]\nManagerEmail: [notification email to hiring manager with full candidate evaluation]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "8c69793b-04a0-4d2c-9c78-0c52ad31293a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "R9ufjb9DxGq4ix0a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst originalItems = $('Code in JavaScript').all();\n\nreturn aiItems.map((item, i) => {\n  const text = item.json.output?.[0]?.content?.[0]?.text || \"\";\n  const original = originalItems[i]?.json || {};\n\n  const candidateSubjectMatch = text.match(/\\*?\\*?CandidateSubject:\\*?\\*?\\s*(.+)/);\n  const candidateEmailMatch = text.match(/\\*?\\*?CandidateEmail:\\*?\\*?\\s*([\\s\\S]+?)(?=\\*?\\*?ManagerSubject:)/);\n  const managerSubjectMatch = text.match(/\\*?\\*?ManagerSubject:\\*?\\*?\\s*(.+)/);\n  const managerEmailMatch = text.match(/\\*?\\*?ManagerEmail:\\*?\\*?\\s*([\\s\\S]+)/);\n\n  return {\n    json: {\n      applicationId: original.applicationId,\n      candidateName: original.candidateName,\n      candidateEmail: original.email,\n      position: original.position,\n      totalScore: original.totalScore,\n      recommendation: original.recommendation,\n      rowNumber: original.rowNumber,\n      candidateSubject: candidateSubjectMatch ? candidateSubjectMatch[1].trim() : \"\",\n      candidateEmailBody: candidateEmailMatch ? candidateEmailMatch[1].trim() : \"\",\n      managerSubject: managerSubjectMatch ? managerSubjectMatch[1].trim() : \"\",\n      managerEmailBody: managerEmailMatch ? managerEmailMatch[1].trim() : \"\",\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "fa650ed0-d241-4a7b-864d-fd81e4fae0ba",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.candidateSubject }}",
        "message": "={{ $json.candidateEmailBody }}",
        "options": {
          "sendTo": "={{ $json.candidateEmail }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "617d255d-5c54-4c00-9c2f-b280449e786d",
      "name": "Create a draft",
      "webhookId": "9f192363-a959-412f-a917-d6dcf97ee27a",
      "credentials": {
        "gmailOAuth2": {
          "id": "IUlCxrOUlGR3c8Gt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.managerSubject }}",
        "message": "={{ $json.managerEmailBody }}",
        "options": {
          "sendTo": "Victordiditt@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        0
      ],
      "id": "a182e95e-ad74-43bf-a32d-18875665e467",
      "name": "Create a draft1",
      "webhookId": "5a8f6b6d-dbbe-42c2-bce3-32ff75cc5217",
      "credentials": {
        "gmailOAuth2": {
          "id": "IUlCxrOUlGR3c8Gt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Code in JavaScript1').all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      applicationId: item.json.applicationId,\n      candidateName: item.json.candidateName,\n      candidateEmail: item.json.candidateEmail,\n      position: item.json.position,\n      totalScore: item.json.totalScore,\n      recommendation: item.json.recommendation,\n      rowNumber: item.json.rowNumber,\n      managerSubject: item.json.managerSubject,\n      managerEmailBody: item.json.managerEmailBody,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "d8f86fa1-9acf-4d62-8a22-3898c1375c5e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Code in JavaScript1').all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      applicationId: item.json.applicationId,\n      status: item.json.recommendation,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        16
      ],
      "id": "2a44570c-6eb9-4816-b51a-26cee1cfc603",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo",
          "mode": "list",
          "cachedResultName": "Job Application & Recruitment Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xclZlfPnXGLuC1ZkcmKrEw6e_BZXuqoHnLSw3jjgOLo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Application ID": "={{ $json.applicationId }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Application ID"
          ],
          "schema": [
            {
              "id": "Application ID",
              "displayName": "Application ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Experience (Years)",
              "displayName": "Experience (Years)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        16
      ],
      "id": "04e0fa21-35b6-495e-a4aa-e617bbc7e2f0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wmrix8zXDKrYWKhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "🎯 Job Application & Recruitment Pipeline Workflow\n\nReads new job applications, scores each candidate \nusing AI, sends confirmation emails to candidates, \nnotifies the hiring manager and updates application status.\n\nNodes:\n**Step 1**\n▶ Schedule Trigger — Checks for new applications every 30 mins\n\n**Step 2**\n📊 Google Sheets — Reads new applications\n\n**Step 3**\n⚙️ Code in JavaScript — Scores candidates based on skills\n\n**Step 4**\n🤖 OpenAI — Writes candidate and manager emails\n\n**Step 5**\n⚙️ Code in JavaScript1 — Cleans and structures AI output\n\n**Step 6**\n📧 Gmail — Sends confirmation drafts to candidates\n\n**Step 7**\n⚙️ Code in JavaScript2 — Passes data to manager email\n\n**Step 8**\n📧 Gmail1 — Sends evaluation drafts to hiring manager\n\n**Step 9**\n⚙️ Code in JavaScript3 — Prepares status update data\n\n**Step 10**\n📊 Google Sheets1 — Updates application status",
        "height": 688,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -272
      ],
      "typeVersion": 1,
      "id": "1082ffe4-7ec6-4878-9db0-df52e6bdea28",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d1d94514776d160baf9a2a9bd715a3a1f1dda4d17836a256b22c074dedb9851"
  }
}
