workflows/lead-gen.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3585fa8d-a98d-4ab1-afb6-6bf48376c4e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://books.toscrape.com/catalogue/page-1.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "e45eb43f-5755-421b-b7e5-b58b7504611d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\nconst nameMatches = [...html.matchAll(/class=\"product_pod\"[\\s\\S]*?title=\"([^\"]+)\"/g)];\nconst priceMatches = [...html.matchAll(/price_color\">\\s*([^<]+)<\\/p>/g)];\nconst ratingMatches = [...html.matchAll(/star-rating (\\w+)/g)];\n\nconst results = nameMatches.map((match, i) => ({\n  name: match[1] || null,\n  price: priceMatches[i] ? priceMatches[i][1].trim() : null,\n  rating: ratingMatches[i] ? ratingMatches[i][1] : null,\n}));\n\nreturn results.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "13ab77f4-5563-413e-abfa-a870856b7703",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a lead qualification assistant. \nGiven this product data, give it a quality score from 1-10 \nand a one sentence summary explaining why it's worth attention.\n\nProduct Name: {{ $json.name }}\nPrice: {{ $json.price }}\nRating: {{ $json.rating }}\n\nRespond in this exact format:\nScore: [number]\nSummary: [one sentence]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "ab984500-9dc1-47f6-b35b-1a760699c76a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "R9ufjb9DxGq4ix0a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst originalItems = $('Code in JavaScript').all();\n\nreturn aiItems.map((item, i) => {\n  const text = item.json.output?.[0]?.content?.[0]?.text || \"\";\n  const original = originalItems[i]?.json || {};\n\n  const scoreMatch = text.match(/Score:\\s*(\\d+)/);\n  const summaryMatch = text.match(/Summary:\\s*(.+)/);\n\n  return {\n    json: {\n      name: original.name || \"\",\n      price: original.price || \"\",\n      rating: original.rating || \"\",\n      score: scoreMatch ? parseInt(scoreMatch[1]) : null,\n      summary: summaryMatch ? summaryMatch[1].trim() : null,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "ca1cf2b5-8dcc-43e1-a906-7789b9b48dc6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "124TLalnLnT3WrAPjNHv-5yL_-L9jgKywqEp1uVQJU8M",
          "mode": "list",
          "cachedResultName": "AI-Powered Lead Generation & CRM Entry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124TLalnLnT3WrAPjNHv-5yL_-L9jgKywqEp1uVQJU8M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/124TLalnLnT3WrAPjNHv-5yL_-L9jgKywqEp1uVQJU8M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.name }}",
            "AI Score": "={{ $json.score }}",
            "AI Summary": "={{ $json.summary }}",
            "Price": "={{ $json.price }}",
            "Rating": "={{ $json.rating }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        0
      ],
      "id": "81a111d3-9902-4418-9180-e3af36265b84",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wmrix8zXDKrYWKhL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "🤖 AI Lead Generation Workflow\n\nThis automation scrapes business data from the web, \nenriches it with AI scoring and saves qualified leads \nto Google Sheets automatically.\n\nNodes:\nStep 1\n▶ Manual Trigger — Starts the workflow manually\n\nStep 2\n🌐 HTTP Request — Scrapes books.toscrape.com for data\n\nStep 3\n⚙️ Code in JavaScript — Extracts name, price and rating\n\nStep 4\n🤖 OpenAI — AI scores and summarizes each lead\n\nStep 5\n⚙️ Code in JavaScript1 — Cleans and structures AI output\n\nStep 6\n📊 Google Sheets — Saves enriched leads to CRM sheet",
        "height": 496,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -208
      ],
      "typeVersion": 1,
      "id": "3f2ddbf4-a7c1-4aed-b948-7abed923db8c",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d1d94514776d160baf9a2a9bd715a3a1f1dda4d17836a256b22c074dedb9851"
  }
}
